<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
  
  <h4>First Name*: <%= f.text_field :first_name %></h4>
  <h4>Last Name*: <%= f.text_field :last_name %></h4>
  <h4>Address*: <%= f.text_field :address, placeholder: "Ex: Street 15th" %></h4>
  <h4>City*: <%= f.text_field :city %></h4>
  <h4>State*: <%= f.text_field :state %></h4>
  <h4>Cellphone*: <%= f.text_field :cellphone %></h4>
  <h4>Phone: <%= f.text_field :phone %></h4>
  <h4>Company: <%= f.text_field :company, placeholder: "Ex: Google Inc." %></h4><br>
  <h4>Email*: <%= f.text_field :email, placeholder: "person@example.com" %></h4>
  <h4>Password*: <%= f.password_field :password, placeholder: "pass" %></h4>
  <%= f.submit  %>
<% end %>