<h2><%= @company.name %></h2>
<h3><%= @company.address %></h3>
<h4><%= @company.city %></h4>
<h4><%= @company.state %></h4>
<h4><%= @company.commercial_activity %></h4>
<h4><%= @company.cellphone %></h4>
<h4><%= @company.phone %></h4>