<!DOCTYPE html>
<html>
  <head>
    <title>Directory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div style="width: 100%; background-color: red;">
    <nav>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Companies", companies_path %></li>
    </nav>
  </div>
  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
